# en-GB is maintained in main repository (https://github.com/OpenRCT2/OpenRCT2/blob/develop/data/language/en-GB.txt)
# use "script" to download the last version locally
data/language/en-GB.txt

# File resulting from running translation_check.py locally 
result.md

# Visual Studio
.vs
*.user
*.lock.json
[Bb]in
[Oo]bj
.project

# vscode?
.vscode

# CLion
.idea
cmake-build-debug

# IntelliJ IDEA
*.iml

# macOS
.DS_Store
